html {
  height: 100%; }

.container-fluid {
  height: 100%;
  min-height: 637px;
  max-height: 645px;
  min-width: 100%;
  background-image: url("../img/menu-photo.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-color: #f1f1f1; }

.btn-col {
  display: flex;
  justify-content: center; }

.main-title {
  font-size: 150px;
  color: black;
  line-height: 1.2;
  text-align: center;
  text-transform: uppercase; }

.main-btn {
  background-color: blue;
  color: white;
  width: 90px;
  border-radius: 75px;
  height: 30px; }

.background_title {
  font-size: 150px;
  color: rgba(231, 231, 231, 0.702);
  line-height: 1.2;
  text-align: left;
  -moz-transform: matrix(2.31683, 0, 0, 2.31528, 0, 0);
  -webkit-transform: matrix(2.31683, 0, 0, 2.31528, 0, 0);
  -ms-transform: matrix(2.31683, 0, 0, 2.31528, 0, 0);
  position: absolute;
  left: 406px;
  top: 48px; }

.logoImg {
  z-index: 5;
  cursor: pointer;
  position: fixed;
  width: 22px;
  height: 22px;
  margin-top: 15px;
  margin-left: 15px; }

.menuImg {
  width: 15px;
  height: 15px; }
