html {
  height: 100%; }

.main_section .container-fluid {
  height: 100%;
  min-height: 637px;
  max-height: 645px;
  min-width: 100%;
  background-image: url("../img/menu-photo.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-color: #f1f1f1; }

.btn-col {
  display: flex;
  justify-content: center; }

.main-title {
  font-size: 120px;
  color: black;
  line-height: 1.2;
  text-align: center;
  text-transform: uppercase;
  margin: 0px;
  margin-top: 40px; }

.thrid-title {
  font-size: 28px;
  margin-left: 35px; }

.main-btn {
  background-color: blue;
  color: white;
  width: 90px;
  border-radius: 75px;
  height: 30px; }

.background_title {
  text-align: center;
  margin: auto;
  font-size: 100px;
  color: rgba(231, 231, 231, 0.702);
  line-height: 1.2;
  text-align: left;
  -moz-transform: matrix(2.31683, 0, 0, 2.31528, 0, 0);
  -webkit-transform: matrix(2.31683, 0, 0, 2.31528, 0, 0);
  -ms-transform: matrix(2.31683, 0, 0, 2.31528, 0, 0);
  position: absolute;
  left: 460px;
  top: 107px;
  text-transform: uppercase; }

.logoImg {
  z-index: 5;
  cursor: pointer;
  position: fixed;
  width: 22px;
  height: 22px;
  margin-top: 15px;
  margin-left: 15px; }

.menuImg {
  width: 15px;
  height: 15px; }

.menuImgRight {
  width: 35px;
  height: 35px;
  margin-right: 50px;
  margin-left: 20px; }

.menu_link {
  display: inline-block; }

.category-section {
  background-color: #f1f1f1; }
  .category-section .container-fluid {
    height: 100%;
    height: 100%;
    background-color: #f1f1f1; }
  .category-section h3 {
    font-size: 50px; }
  .category-section .footer_category {
    text-align: center; }

.product {
  background-color: white;
  margin-top: 20px;
  margin-bottom: 20px;
  overflow: hidden;
  height: 300px;
  display: flex;
  flex-direction: column; }
  .product .category_title {
    display: block;
    font-size: 16px;
    color: black;
    line-height: 1.2;
    text-transform: uppercase;
    text-align: center;
    -moz-transform: matrix(1.55369, 0, 0, 1.55952, 0, 0);
    -webkit-transform: matrix(1.55369, 0, 0, 1.55952, 0, 0);
    -ms-transform: matrix(1.55369, 0, 0, 1.55952, 0, 0); }
  .product .category_description {
    font-size: 10px;
    color: #a8a8a8;
    line-height: 1.2;
    text-align: center;
    -moz-transform: matrix(1.55369, 0, 0, 1.55952, 0, 0);
    -webkit-transform: matrix(1.55369, 0, 0, 1.55952, 0, 0);
    -ms-transform: matrix(1.55369, 0, 0, 1.55952, 0, 0); }
  .product .category_prize {
    font-size: 14px;
    font-family: "Lato";
    color: #0023ff;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    -moz-transform: matrix(1.55369, 0, 0, 1.55952, 0, 0);
    -webkit-transform: matrix(1.55369, 0, 0, 1.55952, 0, 0);
    -ms-transform: matrix(1.55369, 0, 0, 1.55952, 0, 0); }

.horizontally {
  display: block; }
  .horizontally .category_title {
    display: block;
    text-align: left;
    margin-top: 55px; }
  .horizontally .category_description {
    text-align: left; }
  .horizontally .category_prize {
    text-align: left;
    margin-top: 60px; }

#redSeatPhoto {
  width: 130px;
  height: 150px;
  margin: auto; }

#whiteTablePhoto {
  width: 350px;
  display: block;
  position: relative;
  float: left;
  top: -20px; }

#blueSeatPhoto {
  height: 150px;
  width: 130px;
  margin: auto; }

#modernBedPhoto {
  width: 200px;
  position: relative;
  float: left;
  top: 50px; }

#darkSeatPhoto {
  width: 130px;
  height: 150px;
  position: relative;
  float: left;
  margin: auto; }

.col-md-7 {
  padding-right: 0em; }

.small_nav_product {
  display: flex;
  flex-direction: row;
  background-color: #f0f0f0; }
  .small_nav_product h3 {
    font-size: 2em;
    margin-left: 3em;
    text-transform: uppercase; }
  .small_nav_product p {
    position: relative;
    top: 2em;
    text-transform: uppercase;
    left: 8em; }
  .small_nav_product img {
    width: 2em;
    height: 2em;
    margin-top: 1.5em;
    margin-left: 9em; }
  .small_nav_product #menu-toggle {
    top: 1em;
    left: 90em;
    margin: 0em; }

.show_product {
  height: 540px;
  display: flex;
  justify-content: center; }
  .show_product img {
    width: 400px;
    height: 450px;
    margin: 40px 0px 0px 60px; }

.panel_photo img {
  float: right;
  width: 1.7em;
  height: 1.7em;
  margin-left: 3em; }

.circle-plus {
  height: 1em;
  width: 1em;
  font-size: 1em;
  margin-left: 200px;
  display: inline-block;
  /*Will change icon size*/ }

.circle-plus .circle {
  position: relative;
  width: 1.5em;
  height: 1.5em;
  border-radius: 100%;
  border: solid .2em #DFDAD7; }

.circle-plus .circle .horizontal {
  position: absolute;
  background-color: #DFDAD7;
  width: .3em;
  height: 1em;
  top: 0em;
  left: 0.35em; }

.circle-plus .circle .vertical {
  position: absolute;
  background-color: #DFDAD7;
  width: 1em;
  height: .3em;
  top: .2em;
  left: -0.1em; }

.description_product {
  height: 26em;
  font-size: 1em;
  background-color: #f0f0f0; }
  .description_product h3 {
    font-size: 3em;
    padding-top: 2em;
    padding-left: 2em;
    margin: 0em;
    text-transform: uppercase; }
    .description_product h3 span {
      color: blue; }
  .description_product p {
    margin-top: 1em;
    font-size: 1em;
    margin-left: 6em;
    margin-right: 17em; }
  .description_product table {
    font-size: 1em;
    margin-left: 5.45em;
    margin-top: 1em; }
    .description_product table tr td {
      border: 0em; }
      .description_product table tr td button {
        width: 9em;
        margin-left: 2em;
        background-color: #0023ff;
        color: white; }
    .description_product table tr .result_table {
      background-color: white;
      color: blue;
      width: 1em;
      border-radius: 5em; }

.recomended {
  display: flex;
  justify-content: space-around; }
  .recomended .recomended_product {
    display: flex;
    flex-direction: column; }
    .recomended .recomended_product img {
      width: 150px;
      height: 150px;
      margin-left: 20px; }
    .recomended .recomended_product p {
      margin: auto; }

.recomended_title {
  width: 0em;
  height: 2em;
  margin-top: 8.5em;
  color: red;
  transform: rotate(-90deg);
  letter-spacing: 1px;
  font-size: 1.2em;
  color: gray;
  text-transform: uppercase; }
