@media (max-width: 1400px) {
  .description_product {
    overflow: hidden; } }

@media (max-width: 1270px) {
  #menu-toggle {
    left: 80em; } }

@media (max-width: 1178px) {
  #menu-toggle {
    left: 75em; } }

@media (max-width: 1090px) {
  #menu-toggle {
    left: 70em; } }

@media (max-width: 1025px) {
  #menu-toggle {
    left: 67em;
    top: 2em; } }

@media (max-width: 991px) {
  #menu-toggle {
    left: 45em;
    top: 0em; }
  #add_card_button {
    display: inline-block;
    margin: 0em 0em 0em 0em; }
  .result_table {
    display: inline-block; }
  .description_product {
    overflow: hidden; }
  .description_product h3.title_description {
    margin-left: 3.5em; }
  .description_product h3 {
    font-size: 2em;
    padding-left: 0em; }
  .description_product p {
    margin-right: 0em;
    margin-left: 7em; }
  .description_product table {
    margin-left: 6.45em; }
  .description_product table tr .prize {
    width: 8em; } }

@media (max-width: 950px) {
  #add_card_button {
    display: inline-block;
    margin: 2em 0em 0em 0em; } }

@media (max-width: 930px) {
  .description_product table tr td button {
    height: 2.3em;
    width: 9em;
    margin-top: 2em;
    /* margin-left: 2em; */
    background-color: #0023ff;
    color: white;
    border-radius: 5em;
    text-transform: uppercase;
    border-color: #0023ff;
    /* display: inline-block; */
    display: block; }
  .show_product {
    height: 30em;
    margin-bottom: 2em; }
  .panel_photo {
    display: none; } }

@media (max-width: 810px) {
  .show_product img {
    margin-left: 20em; } }

@media (max-width: 787px) {
  .description_product h3 {
    font-size: 1.5em; }
  .small_nav_product img {
    display: none; }
  .small_nav_product p {
    top: 0em;
    left: 1em; }
  .small_nav_product #menu-toggle {
    left: 54em; } }

@media (max-width: 787px) {
  .description_product h3.title_description {
    margin-left: 4.5em; }
  h3.title_description {
    margin-left: 2em; }
  h3 {
    margin-left: 0em; }
  .description_product table tr td button {
    margin-top: 5px; } }

@media (max-width: 670px) {
  #menu-toggle {
    left: 35em;
    top: 0em; } }

@media (max-width: 600px) {
  .show_product img {
    margin-left: 24em;
    width: 20em;
    height: 20em; }
  .show_product {
    height: 29em; }
  .recomended {
    overflow: scroll;
    margin-left: 5em; }
  .recomended_title {
    display: none; }
  h3.title_description {
    margin-left: 2em; } }

@media (max-width: 930px) {
  #add_card_button {
    display: block; } }

@media (max-width: 550px) {
  #menu-toggle {
    left: 27em;
    top: 0em; } }

@media (max-width: 520px) {
  .recomended_product:first-of-type {
    margin-left: 4em; } }

@media (max-width: 420px) {
  .recomended_product:first-of-type {
    margin-left: 10em; }
  .show_product {
    height: 20em; }
  .show_product img {
    margin-left: 12em;
    width: 15em;
    height: 15em; }
  .description_product h3 {
    margin-left: 0em; }
  #menu-toggle {
    left: 24em;
    top: 2em; } }

@media (max-width: 380px) {
  #menu-toggle {
    left: 20em;
    top: 2em; }
  .recomended_product:first-of-type {
    margin-left: 14em; } }

@media (max-width: 345px) {
  .recomended_product:first-of-type {
    margin-left: 18em; }
  .description_product h3.title_description {
    font-size: 1em;
    margin-left: 7em; }
  .description_product h3 {
    font-size: 1em; } }

@media (max-width: 320px) {
  #menu-toggle {
    display: none; }
  .show_product img {
    width: 13em;
    height: 13em;
    margin-left: 13em; }
  #add_card_button {
    width: 50%;
    height: 50%; }
  td.prize {
    width: 6em; } }

@media (max-width: 270px) {
  .description_product h3 {
    font-size: .5em; } }
