
html {
  height: 100%;
}
.main_section{
.container-fluid {
  height: 100%;
  min-height: 637px;
  max-height: 645px;
  min-width: 100%;
  background-image: url("../img/menu-photo.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-color: #f1f1f1;
// background-size:  100%;
  }
}
.btn-col{
  display: flex;
  justify-content: center;
}
.main-title{
font-size: 120px;
color: black;
line-height: 1.2;
text-align: center;
text-transform: uppercase;
margin: 0px;
margin-top: 40px;
}
.thrid-title{
  font-size: 28px;
  margin-left:35px;
}

.main-btn{
  background-color: blue;
  color: white;
  width:90px;
  border-radius: 75px;
  height: 30px;
}
.background_title{
    text-align: center;
    margin: auto;
    font-size: 100px;
    color: rgba(231, 231, 231, 0.702);
    line-height: 1.2;
    text-align: left;
    -moz-transform: matrix(2.31683, 0, 0, 2.31528, 0, 0);
    -webkit-transform: matrix(2.31683, 0, 0, 2.31528, 0, 0);
    -ms-transform: matrix(2.31683, 0, 0, 2.31528, 0, 0);
    position: absolute;
    left: 460px;
    top: 107px;
    text-transform: uppercase;
  //  margin: 0px;
}
.logoImg{
  z-index: 5;
  cursor: pointer;
  position: fixed;
  width: 22px;
  height: 22px;
  margin-top: 15px;
  margin-left: 15px
}
.menuImg{
  width: 15px;
  height: 15px;
}
.menuImgRight{
  width: 35px;
  height: 35px;
  margin-right: 50px;
  margin-left: 20px;
}
.menu_link{
  display: inline-block;
}
// categoty section
.category-section{
  background-color: #f1f1f1;
  .container-fluid{
    height: 100%;
    // min-height: 800px;
    // max-height: 800px;
    height: 100%;
    background-color: #f1f1f1;
  }
  h3{
    font-size: 50px;
  }

  .footer_category{
    text-align: center;
  }
}

.product{
  background-color: white;
  margin-top:20px;
  margin-bottom:20px;
  overflow: hidden;
  height: 300px;
  display: flex;
  flex-direction: column;
  .category_title{
    display: block;
    font-size: 16px;
    color: rgb(0, 0, 0);
    line-height: 1.2;
    text-transform: uppercase;
    text-align: center;
    -moz-transform: matrix( 1.5536851985997,0,0,1.55952380952381,0,0);
    -webkit-transform: matrix( 1.5536851985997,0,0,1.55952380952381,0,0);
    -ms-transform: matrix( 1.5536851985997,0,0,1.55952380952381,0,0);
    }
  .category_description{
    font-size: 10px;
    color: rgb(168, 168, 168);
    line-height: 1.2;
    text-align: center;
    -moz-transform: matrix( 1.5536851985997,0,0,1.55952380952381,0,0);
    -webkit-transform: matrix( 1.5536851985997,0,0,1.55952380952381,0,0);
    -ms-transform: matrix( 1.5536851985997,0,0,1.55952380952381,0,0);
    }
  .category_prize{
    font-size: 14px;
    font-family: "Lato";
    color: rgb(0, 35, 255);
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    -moz-transform: matrix( 1.5536851985997,0,0,1.55952380952381,0,0);
    -webkit-transform: matrix( 1.5536851985997,0,0,1.55952380952381,0,0);
    -ms-transform: matrix( 1.5536851985997,0,0,1.55952380952381,0,0);

    }

  }
  .horizontally{
    display: block;
    .category_title{
      display: block;
      text-align: left;
      margin-top: 55px;
      }
    .category_description{
      text-align: left;
      }
    .category_prize{
      text-align: left;
      margin-top: 60px;
      }
  }
#redSeatPhoto{
  width: 130px;
  height: 150px;
  margin: auto;

}
#whiteTablePhoto{
    width: 350px;
  display: block;
  position: relative;
  float: left;
  top: -20px;
}
#blueSeatPhoto{
  height: 150px;
  width: 130px;
  margin: auto;
}
#modernBedPhoto{
  width: 200px;
  position: relative;
  float: left;
  top: 50px;
}
#darkSeatPhoto{
  width: 130px;
  height: 150px;
  position: relative;
  float: left;
  margin: auto;
}
// product page
.small_nav_product{
  display: flex;
  flex-direction:row;
}
.show_product{
  height: 500px;
  background-color: green;
}
.description_product{
  height: 400px;
  background-color: orange;
}
